<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.shoppingmall.mapper.BasketMapper">
	
	
	<insert id="insert" parameterType="basketvo">
	INSERT INTO basket(
					item_no,
					count
					<if test="memberNo > 0">
						,member_no
					</if>
					<if test="sessionId != null">
						,session_id
					</if>
					)
					VALUES(#{itemNo},
					#{count}
					<if test="memberNo > 0">
						,#{memberNo}
					</if>
					<if test="sessionId != null">
						,#{sessionId}
					</if>
					)
	</insert>
	
	<!-- 진행중 
		 장바구니 한개만 읽는 경우가 있으려나? 한개만 읽는건 상품을 보고 싶은거지
	-->
	<select id="read" resultType="basketvo" parameterType="long">
		SELECT 
			basket_no basketNo, basket_name basketName   
		FROM basket WHERE item_no = #{itemNo} AND 
	</select>
	
	<update id="update" parameterType="basketvo">
		UPDATE basket 
			SET count = #{count}  
		WHERE item_no = #{itemNo} 
				<if test="memberNo > 0">AND member_no = #{memberNo} </if>
				<if test="sessionId != null">AND session_id = #{sessionId}</if>
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE from basket WHERE basket_no = #{basketNo} 
	</delete>
	
	<delete id="deleteBySessionId" parameterType="string">
		DELETE from basket WHERE session_id = #{sessionId} 
	</delete>
	
	<delete id="deleteByMemberNo" parameterType="long">
		DELETE from basket WHERE member_no = #{memberNo} 
	</delete>
	
	<delete id="deleteByMemberNoAndItemNo">
		DELETE from basket WHERE member_no = #{memberNo} AND item_no = #{itemNo}  
	</delete>
	<delete id="deleteBySessionIdAndItemNo">
		DELETE from basket WHERE session_id = #{sessionId} AND item_no = #{itemNo}
	</delete>
	
	<!-- 진행중 
	필요한 정보 옵션, 상품이름, 가격, 수량
	insert 하기전에 기존에 장바구니에 담겨져있는지 확인 할 때도 사용된다.
	-->
	<resultMap type="com.cafe24.shoppingmall.domain.BasketVO" id="basketMap">
		<id property="itemNo" column="a.item_no" />
		<result property="basketNo" column="basket_no" />
		<result property="productName" column="product_name" />
		<result property="count" column="count" />
		<result property="price" column="price" />
		<result property="mainImagePath" column="main_image_path" />
		<collection property="itemVo" resultMap="itemMap" />
	</resultMap>
	<resultMap type="com.cafe24.shoppingmall.domain.ItemVO" id="itemMap">
		<result property="stock" column="stock" />
	</resultMap>
	
	<select id="getList" parameterType="criteria" resultMap="basketMap">
		SELECT
			basket_no, a.item_no , count, stock, b.product_no, product_name, description, price, main_image_path, regdate 
			FROM basket a, item b, product d
			WHERE 
					a.item_no = b.item_no
                AND b.product_no = d.product_no 
                <if test="memberNo > 0">AND member_no = #{memberNo} </if>
				<if test="sessionId != null">AND session_id = #{sessionId}</if>
				<if test="itemNo > 0">AND a.item_no = #{itemNo}</if> 
				
		ORDER BY basket_no;
 	</select>
	
</mapper>
