<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.shoppingmall.mapper.ItemMapper">
	
	<!-- 완료 -->
	<insert id="insert" parameterType="itemvo">
		INSERT INTO item(
								product_no
								<if test="stock > 0">
								, stock 
								</if> 
								) 
						VALUES(#{productNo}
								<if test="stock > 0">
								, #{stock}
								</if>
									)
		<selectKey keyProperty="itemNo" resultType="long" order="AFTER">
			select
			last_insert_id()
		</selectKey>
	</insert>
	
	<resultMap type="com.cafe24.shoppingmall.domain.ItemVO" id="itemMap">
		<id property="itemNo" column="itemNo" />
		<collection property="optionList" resultMap="optionMap" />
	</resultMap>
	<resultMap type="com.cafe24.shoppingmall.domain.OptionVO" id="optionMap">
		<result property="optionName" column="optionName" />
		<result property="optionValue" column="optionValue" />
	</resultMap>
	
	<select id="read" resultMap="itemMap" parameterType="long">
		SELECT i.item_no itemNo, stock, o.option_name optionName, o.option_value optionValue
			FROM item i, option o 
		WHERE 	i.item_no = o.item_no and 
				i.item_no = #{itemNo}
	</select>
	
	<update id="update" parameterType="itemvo">
		UPDATE item 
			SET stock = #{stock} 
		WHERE item_no = #{itemNo}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE from item WHERE item_no = #{itemNo} 
	</delete>
	
	<select id="getList" parameterType="criteria" resultType="itemvo">
		SELECT item_no itemNo, stock 
			FROM item 
		WHERE item_no = #{itemNo} 
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT count(*) from item
	</select>
	
</mapper>
