<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.shoppingmall.mapper.BasketMapper">
	
	
	<insert id="insert" parameterType="basketvo">
	INSERT INTO basket(
					product_detail_no,
					count
					<if test="memberNo > 0">
						,member_no
					</if>
					<if test="guestSessionId != null">
						,guest_session_id
					</if>
					)
					VALUES(#{productDetailNo},
					#{count}
					<if test="memberNo > 0">
						,#{memberNo}
					</if>
					<if test="guestSessionId != null">
						,#{guestSessionId}
					</if>
					)
	</insert>
	
	<!-- 진행중 
		 장바구니 한개만 읽는 경우가 있으려나? 한개만 읽는건 상품을 보고 싶은거지
	-->
	<select id="read" resultType="basketvo" parameterType="long">
		SELECT 
			basket_no basketNo, baske basketName   
		FROM basket WHERE product_detail_no = #{productDetailNo} AND 
	</select>
	
	
	
	
	<update id="update" parameterType="basketvo">
		UPDATE basket 
			SET count = #{count}  
		WHERE basket_no = #{basketNo}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE from basket WHERE basket_no = #{basketNo} 
	</delete>
	
	<delete id="deleteBySessionId" parameterType="string">
		DELETE from basket WHERE session_id = #{sessionId} 
	</delete>
	
	<delete id="deleteByMemberNo" parameterType="long">
		DELETE from basket WHERE member_no = #{memberNo} 
	</delete>
	
	<!-- 진행중 
	필요한 정보 옵션, 상품이름, 가격, 수량
	insert 하기전에 기존에 장바구니에 담겨져있는지 확인 할 때도 사용된다.
	-->
	
	<resultMap type="com.cafe24.shoppingmall.domain.BasketVO" id="basketMap">
		<id property="productDetailNo" column="a.product_detail_no" />
		<result property="basketNo" column="basket_no" />
		<result property="count" column="count" />
		<collection property="productDetailVo" resultMap="productDetailMap" />
	</resultMap>
	<resultMap type="com.cafe24.shoppingmall.domain.ProductDetailVO" id="productDetailMap">
		<id property="productNo" column="b.product_no" />
		<collection property="optionList" resultMap="optionMap" />
	</resultMap>
	
	<resultMap type="com.cafe24.shoppingmall.domain.OptionVO" id="optionMap">
		<result property="optionNo" column="option_no" />
		<result property="optionName" column="option_name" />
		<result property="optionValue" column="option_value" />
	</resultMap>
	
	<select id="getList" parameterType="criteria" resultMap="basketMap">
		SELECT
			basket_no, a.product_detail_no , count, b.product_no, option_no, option_name, option_value, product_name, description, price, regdate
			FROM basket a, product_detail b, shoppingmall.option c, product d
			WHERE 
					a.product_detail_no = b.product_detail_no
                AND a.product_detail_no = c.product_detail_no 
                AND b.product_no = d.product_no 
                <if test="memberNo > 0">AND member_no = #{memberNo} </if>
				<if test="sessionId != null">AND session_id = #{sessionId}</if>
				<if test="productDetailNo > 0">AND a.product_detail_no = #{productDetailNo}</if> 
				
		ORDER BY basket_no;
 	</select>
	
	<select id="getTotal" resultType="int">
		SELECT count(*) from basket
	</select>
	
</mapper>
