<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.shoppingmall.mapper.imageMapper">
	
	<!-- 완료 -->  
	<insert id="insertimageList" parameterType="productvo"> 
		INSERT INTO product_image(product_no, image_order, image_path) 
			VALUES 
			<foreach item="item" collection="imageList" separator=",">
			(#{productNo}, #{item.imageOrder}, #{item.imagePath})
			</foreach>
	</insert>
	
	<delete id="delete" parameterType="long">
		DELETE from image WHERE product_image_no = #{productImageNo} 
	</delete>
	
	<!-- 진행중 -->
	<select id="getList" resultType="imagevo">
		SELECT product_image_no productImageNo, product_no productNo, image_order imageOrder, image_path imagePath    
			FROM image  
		ORDER BY image_order DESC
	</select>
	
</mapper>
