<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.shoppingmall.mapper.OptionMapper">
	
	<!-- 완료 -->
	<insert id="insert" parameterType="optionvo">
		INSERT INTO option(product_detail_no, option_name, option_value) 
			VALUES(#{productDetailNo}, #{optionName}, #{optionValue})
	</insert>
	
	<!-- 완료 -->  
	<insert id="insertOptionList" parameterType="productdetailvo"> 
		INSERT INTO option(product_detail_no, option_name, option_value) 
			VALUES 
			<foreach item="item" collection="optionList" separator=",">
			(#{productDetailNo}, #{item.optionName}, #{item.optionValue})
			</foreach>
	</insert>
	
	
	<!-- 진행중 
		 필요한 정보 옵션,상품이름, 가격
	-->
	<select id="read" resultType="optionvo" parameterType="long">
		SELECT 
			option_no optionNo, baske optionName   
		FROM option WHERE option_no = #{no}
	</select>
	
	<update id="update" parameterType="optionvo">
		UPDATE option 
			SET option_name = #{optionName},
				option_value = #{optionValue} 
		WHERE option_no = #{optionNo}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE from option WHERE option_no = #{optionNo} 
	</delete>
	
	<!-- 진행중 -->
	<select id="getList" parameterType="criteria" resultType="optionvo">
		SELECT option_no optionNo, option_name optionName, upper_option_no upperoptionNo   
			FROM option  
		ORDER BY member_no DESC LIMIT #{limitStart}, #{perPageSize}
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT count(*) from option
	</select>
	
</mapper>
