<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.shoppingmall.mapper.OrderMapper">
	
	<!-- 완료 -->
	<insert id="insert" parameterType="ordervo">
		INSERT INTO order(
					<if test="memberNo > 0">
					member_no,
					</if>
					<if test="sessionId != null">
					session_id, order_password
					</if>
					progress_state, sender_name, sender_zipcode, sender_telephone, sender_normal_address, sender_extend_address, 
					receiver_name, receiver_zipcode, receiver_telephone, receiver_normal_address, receiver_extend_address, total_price, regdate) 
			VALUES(
					<if test="memberNo > 0">
					#{memberNo},
					</if>
					<if test="sessionId != null">
					#{sessionId}, #{orderPassword},  
					</if>
					#{progressState}, #{senderName}, #{senderZipcode}, #{senderTelephone}, #{senderNormalAddress}, #{senderExtendAddress},
					#{receiverName}, #{receiverZipcode}, #{receiverTelephone}, #{receiverNormalAddress}, #{receiverExtendAddress}, #{totalPrice}, now())
			
		<selectKey keyProperty="orderNo" resultType="long" order="AFTER">
			select
			last_insert_id()
		</selectKey> 
	</insert>
	
	<insert id="insertorderItem" parameterType="ordervo">
		INSERT INTO order_item(order_no, item_no, count, price) 
			VALUES
			<foreach item="target" collection="orderItemList" separator=",">
			(#{orderNo}, #{target.item_no}, #{target.count}, #{target.price})
			</foreach>
	</insert>
	
	
	<select id="read" resultType="ordervo">
		SELECT 
			progress_state, sender_name, sender_zipcode, sender_telephone, sender_normal_address, sender_extend_address, 
					receiver_name, receiver_zipcode, receiver_telephone, receiver_normal_address, receiver_extend_address, total_price, regdate 
		FROM order WHERE order_no = #{orderNo} AND order_password = #{orderPassword}
	</select>
	
	<update id="update" parameterType="ordervo">
	
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE from order WHERE order_no = #{no} 
	</delete>
	
	<!-- 완료. -->
	<select id="getList" parameterType="criteria" resultType="ordervo">
		SELECT 
			order_no orderNo, progress_state progressState, receive_name receiveName, zipcode, normal_address normallAddress, extend_address extendAddress, total_price totalPrice, regdate 
		FROM order 
		<include refid="searchMember"/> 
		ORDER BY order_no DESC LIMIT #{limitStart}, #{perPageSize}  
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT count(*) from order
	</select>
	
	<sql id="searchMember">
		WHERE 1=1
		<if test="sessionId != null">
					AND	session_id = #{sessionId}
		</if>
		<if test="memberNo > 0">
					AND	member_no = #{memberNo} 
		</if> 
	</sql>
	
</mapper>
