<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.shoppingmall.mapper.ProductMapper">
	
	<!-- 완료 -->
	<insert id="insert" parameterType="productvo">
		INSERT INTO product(product_name, description, price, display_active, selling_active, option_active, regdate) 
			VALUES(#{productName}, #{description}, #{price}, #{displayActive}, #{sellingActive}, #{optionActive}, now())
			
		<selectKey keyProperty="productNo" resultType="long" order="AFTER">
			select
			last_insert_id()
		</selectKey> 
	</insert>
	
	<!-- 완료 -->
	<insert id="insertProductDetail" parameterType="productdetailvo">
		INSERT INTO product_detail(
									product_no
									<if test="stock > 0">
									, stock 
									</if> 
									) 
							VALUES(#{productNo}
									<if test="stock > 0">
									, #{stock}
									</if>
									)
		<selectKey keyProperty="productDetailNo" resultType="long" order="AFTER">
			select
			last_insert_id()
		</selectKey>
	</insert>
	
	
	<insert id="insertProductCategory" parameterType="productvo">
		INSERT INTO product_category(product_no, category_no) 
			VALUES
			<foreach item="item" collection="categoryList" separator=",">
			(#{productNo}, #{item.categoryNo})
			</foreach>
	</insert>
	
	
	<select id="read" resultType="productvo" parameterType="long">
		SELECT 
			product_no productNo, product_name productName, description, price, display_active, selling_active, regdate 
		FROM product WHERE product_no = #{no}
	</select>
	
	<update id="update" parameterType="productvo">
		UPDATE product 
			SET product_name = #{productName}, 
				description = #{description},
				price = #{price},
				display_active = #{displayActive}, 
				selling_active = #{sellingActive},
				option_active = #{optionActive}
		WHERE product_no = #{productNo}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE from product WHERE product_no = #{no} 
	</delete>
	
	<!-- 진행 해야함. -->
	<select id="getList" parameterType="criteria" resultType="productvo">
		SELECT 
			category_no categoryNo, product_name productName, description, price, display_active displayActivce, selling_active sellingActive, regdate 
		FROM product 
		ORDER BY product_no DESC LIMIT #{limitStart}, #{perPageSize}  
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT count(*) from product
	</select>
	
</mapper>
